@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100;200;300;400;500;600;700;800&display=swap');
:root{
    --bg-color-body: #15141a;
    --color-body: #E9EEF2;
    /* #fbfbfe */
    --bg-color-fon: #2b2a33;
    --color-code: #b1c2d2;
    --color-html: #E65C4F;
    --color-attributes: #41C81C;
    --font-family-1: 'Comfortaa';
    --font-family-2: 'Zen+Kurenaido';
    --font-family-3: 'Trispace';
}
body {
    background-color: var(--bg-color-fon);
    color: var(--color-body);
    font-family: var(--font-family-1);
    /* margin: 0; */
}
#usa {
    width: 25px;
}
.bold{
    font-weight: bold;
}
mark{
    font-weight: bold;
    border-radius: 5px;
    color: var(--color-html);
    padding: 3px 10px;
}
pre{
    font-family: var(--font-family-3);
}
.code {
    color: var(--color-code);
    padding: .7720588235em 1.1764705882em;
}
.code,
mark{
    /* background-color: var(--bg-color-fon); */
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
a{
    color: var(--color-html);
    cursor: pointer;
} 
a,
abbr{
    text-decoration: none;
    /* font-weight: bold; */
}
.current-tags{
    color: #cfcfd8;
}
.color-html{
    color: var(--color-html);
}
.color-attributes{
    color: var(--color-attributes);

}


figure {
    float: right;
}



::-webkit-scrollbar {
    width: 10px;
    background-color: none;
}
::-webkit-scrollbar-thumb {
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 9em;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-html)
}
::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}
::-webkit-scrollbar-button:vertical:end:increment {
    background: linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}